<div class="row align-center yellow-bg pt-2 pb-2">
  <div class="small-12 columns xl-h2">
    <h2 class="text-center">Get in Touch</h2>
  </div>
  <form class="small-12 medium-6 columns">
    <div class="small-12 columns">
      <label>Name
        <input type="text" placeholder="Your Name">
      </label>
    </div>
    <div class="small-12 columns">
      <label>Email Address
        <input type="text" placeholder="Email Address">
      </label>
    </div>
    <div class="small-12 columns">
      <label>Subject
        <input type="text" placeholder="Your Subject Here">
      </label>
    </div>
    <div class="small-12 columns">
      <label>Your Message
        <textarea placeholder="Your message goes here."></textarea>
      </label>
    </div>
    <div class="small-12 columns">
      <input type="submit" class="secondary large button" value="Submit">
    </div>
  </form>
  <div class="small-12 medium-6 columns mb-2 social">
    <div class="row">
      <figure class="small-12 columns">
        <a href="https://www.facebook.com/andrewpaschall73">
          <div class="row">
            <img src="/assets/img/facebook.svg" class="align-self-middle">
            <figcaption class="align-self-middle">Facebook</figcaption>
          </div>
        </a>
      </figure>
      <figure class="small-12 columns">
        <a href="https://twitter.com/AndrewPaschall1">
          <div class="row">
            <img src="/assets/img/twitter.svg" class="align-self-middle">
            <figcaption class="align-self-middle">Twitter</figcaption>
          </div>
        </a>
      </figure>
      <figure class="small-12 columns">
        <a href="https://www.linkedin.com/in/andrewpaschall">
          <div class="row">
            <img src="/assets/img/linkedin.svg" class="align-self-middle">
            <figcaption class="align-self-middle" class="align-self-middle">LinkedIn</figcaption>
          </div>
        </a>
      </figure>
    </div>
  </div>
</div>