<div class="row">
  <div class="small-12 medium-5 columns">
    <img src="http://placehold.it/600">
  </div>
  <div class="small-12 medium-7 columns">
    <h2>Demand Detroit</h2>
    <p>In late June of 2016 Detroit (formerly Detroit Diesel) signed a deal with Turnkey Merchandising Programs to handle large scale company purchases of branded products and create a customer facing eCommerce website to drive sales of those products.<br>

	We were being put on rush to get the site launched before their large event in August. My team and I quickly jumped on the product creating wireframes and mockups, then moving forward into rapid development to move the client through to launch. The site was launched on time and with a solid Mobile-First design set to engage a growing mobile audience in today’s current eCommerce markets. In addition to creating a site that was attractive across devices, we went forward and began building a marketing audience. Currently we’ve taken advantage of remarketing and email marketing opportunities that have all been generated through the site.</p>
  </div>
</div>