{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andrew Does Web Design</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>
  <div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
      <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
        <!-- left off-canvas markup -->
       <div>
         <button class="close-button" aria-label="Close menu" type="button" data-close="">
            <span aria-hidden="true">×</span>
         </button>
       </div>
       <ul class="vertical menu" style="width:100%;">
          <li><a href="#">UI & Web Projects</a></li>
          <li><a href="#">Marketing Campaigns</a></li>
          <li><a href="#">Logo Designs</a></li>
          <!--<li><a href="#" style="font-size: 1.5em;">Blog</a></li>-->
        </ul>
      </div>
      <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">
        <!-- right off-canvas markup -->
      </div>
      <div class="off-canvas-content" data-off-canvas-content>
      <!-- page content -->

        <header>
          <nav>
            <div class="title-bar row" data-responsive-toggle="example-menu" data-hide-for="">
              <a href="#" class="title-bar-left">
                <img src="/assets/img/logo.svg" style="max-height: 45px;">
              </a>
              <div class="title-bar-right align-middle">
                <div class="top-bar-title align-middle">Menu
                <button class="menu-icon align-middle" type="button" data-toggle="offCanvasLeft"></button>
                </div>
              </div>
            </div>
          </nav>
        </header>
        {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
        {{> body}}
        {{> contact}}
        <footer class="row align-bottom">
      <div class="small-12 columns align-self-middle">
      <p class="text-center align-self-middle">&copy;2016 Andrew Paschall</p>
      </div>
    </footer>
        </div>
      </div>
    </div>
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>